Source: freddie_mac
Section: 4403.1 - Seller/ServicerGuide
Subsection: Delivery requirements
Domains: LOAN.loan_amortization
MISMO: PropertyType(Cooperative); LienPriorityType(FirstLien)
Key Terms: seller, servicer, mortgage
Cross-Source: fannie_mae/B2-1.4
Content Type: procedure
---
#### Delivery requirements

Refer to [Section 6302.22](6302.22) for delivery requirements for Mortgages with capitalized balances.


[*angle left* Prev](4402.5)


[Next *angle right*](4404.1)


##### Client Feedback

Was this section helpful?

Yes

No

Send Feedback

##### Related Bulletins


- [Bulletin 2026-4 Selling](/app/guide/bulletin/2026-4)
- [Bulletin 2024-16 Selling](/app/guide/bulletin/2024-16)
- [Bulletin 2023-24 Selling](/app/guide/bulletin/2023-24)
- [Bulletin 2018-24 Selling](/app/guide/bulletin/2018-24)
- [Bulletin 2018-16 Duty to Serve Affordable Housing Preservation and Rural Housing](/app/guide/bulletin/2018-16)


[object Object]


<[object Object]>

[object Object]


Need Help?

Please contact your Freddie Mac Account Representative or Customer Support

[+1-800-FREDDIE](tel:800-373-3343)

[Start Cobrowse Session](#)

###### Guide Home

- [Seller/Servicer Relationship](/app/guide/segment/Seller%2FServicer%20Relationship)
- [Selling](/app/guide/segment/Selling)
- [Servicing](/app/guide/segment/Servicing)

- [Bulletins & Industry Letters](/app/guide/bulletins)
- [Glossary](/app/guide/glossary)
- [Forms](/app/guide/forms)
- [Uniform Instruments(opens in new window)](https://sf.freddiemac.com/tools-learning/uniform-instruments/2021-updated-instruments)

###### More Single-Family

- [Selling & Delivery(opens in new window)](https://sf.freddiemac.com/working-with-us/selling-delivery/overview)
- [Origination & Underwriting(opens in new window)](https://sf.freddiemac.com/working-with-us/origination-underwriting/overview)
- [Servicing(opens in new window)](https://sf.freddiemac.com/working-with-us/servicing/overview)
- [Freddie Mac Learning(opens in new window)](https://sf.freddiemac.com/tools-learning/freddie-mac-learning/overview)


###### All Freddie Mac

- [Freddie Mac Capital Markets(opens in new window)](https://capitalmarkets.freddiemac.com)
- [FreddieMac.com(opens in new window)](https://www.freddiemac.com)
- [Freddie Mac Single-Family(opens in new window)](https://sf.freddiemac.com/)
- [Freddie Mac Multifamily(opens in new window)](https://mf.freddiemac.com/)

© 1989-2026 Freddie Mac

- [Terms of Use(opens in new window)](http://www.freddiemac.com/terms)
- [Privacy(opens in new window)](https://www.freddiemac.com/terms/privacy)
- [State Privacy Notices(opens in new window)](https://www.freddiemac.com/terms/state_privacy_notices)


Cookie Preferences

[Your Privacy Choices](https://www.freddiemac.com/terms/state_privacy_notices#opt-out)


- [(opens in new window)](https://www.linkedin.com/showcase/freddiemacsf/)
- [(opens in new window)](https://twitter.com/FreddieMacSF)

top