Source: freddie_mac
Section: 1302.2 - Seller/ServicerGuide
Subsection: Information security minimum requirements
Domains: COMPLIANCE.regulatory, DELIVERY.servicing
MISMO: PropertyType(Cooperative)
Key Terms: seller, servicer
Content Type: procedure
---
Seller/Servicers must authenticate employee identity with a multifactor authentication method or process that includes, but is not limited to, user identification codes, passwords, personal identification numbers, a smart card and/or a token device. Ensure that this process is fatigue resistant. Ensure that all access to Freddie Mac data requires multifactor authentication.

Seller/Servicers should establish comprehensive procedures to monitor all enterprise Authentication services and processes. This includes defining criteria and indicators for detecting credential compromise or anomalous activity. Regular monitoring and analysis should be conducted to identify and respond to potential threats promptly. Additionally, third-party access should be continuously reviewed and updated to ensure compliance with security policies and to mitigate risks.

If passwords are used, the Authentication policy must mandate, and Seller/Servicers must enforce, minimum guidelines for password complexity, reuse timelines and password change timelines.

Seller/Servicers must utilize password vaults with multifactor authentication and ensure that no passwords are stored in unsecured files.

D.

##### Asset management

Seller/Servicers must implement security measures to protect Freddie Mac confidential information and Protected Information, including encryption, secure storage solutions and regular security assessments. Seller/Servicers must ensure compliance with all relevant regulations and standards for data protection and confidentiality.

Seller/Servicers must maintain an inventory management system to track physical and software assets, such as end-user technology, servers, network devices, and corresponding asset ownership. The inventory management system must be reconciled to actual inventory at least annually to verify all assets are included.

Seller/Servicers must develop procedures for continuous monitoring of access and usage of Freddie Mac confidential information and Protected Information to detect and respond to any unauthorized access or anomalies.

Documented procedures must be in place detailing guidelines and requirements for tracking the removal of assets from a facility.

E.

##### Cloud computing

When a Seller/Servicer consumes or provides cloud services that store, process, access or transmit Freddie Mac confidential information or Protected Information or connect to any System, the Seller/Servicer must maintain and comply with policies and standards for managing cloud computing risks. The policy should address:

- Due Diligence: Specify appropriate due diligence responsibilities, governance, ongoing oversight and monitoring of the cloud service providers’ security
- System vulnerabilities: Articulate processes and responsibilities to securely configure cloud systems, provision access, and log and monitor the FM information assets residing in or being processed in the cloud environment. Create and maintain a process for determining the criteria for replacing or remediating the services provided by a cloud service provider when it has suffered an incident.
- Identity and access management: Define roles for cloud access management, limiting account privileges, implementing multifactor authentication, frequently updating and reviewing account access, monitoring activity, and requiring privileged users to have separate usernames and passwords
- Security controls for sensitive data: Define responsibilities for implementing controls to safeguard sensitive data limit a malicious actor’s ability to exploit data during a breach

The cloud policy should be approved by management and communicated to appropriate personnel, and the Seller/Servicer must designate an owner to maintain and review the policy to ensure it consistently reflects industry best practices.

F.

##### Vendor risk management program

Seller/Servicers must implement a vendor risk management program to formally evaluate, track and measure third-party risk; to assess its impact on all aspects of the organization’s business; and to develop compensating controls or other forms of mitigation to safeguard and protect Freddie Mac confidential information, Protected Information and Systems from unauthorized persons, malicious software or other harmful computer information, commands, codes or programs. The risk management program must include:

1. Criteria for determining when to replace a Related Third Party that has experienced or is experiencing an incident and
2. A process to replace the Related Third Party when such criteria are met

Seller/Servicers must maintain with all Related Third Parties that store, process, access or transmit Freddie Mac confidential information or Protected Information a written agreement that obligates them to comply with Minimum Requirements similar to what is outlined within this chapter.

[*angle left* Prev](1302.1)

[Next *angle right*](1302.3)

##### Client Feedback

Was this section helpful?

Yes

No

Send Feedback

##### Related FAQs

- [What networks need to be segmented?](/app/guide/faq/FA1658)
- [Can we segment by using cloud service providers in separate regions?](/app/guide/faq/FA1657)
- [Can our EDR strategy and process be rolled into our overall information security program?](/app/guide/faq/FA1656)
- [What is considered a malicious domain?](/app/guide/faq/FA1655)
- [Is Freddie Mac a “relevant stakeholder” when it comes to notification about malicious domains?](/app/guide/faq/FA1654)
- Show All

##### Related Bulletins

- [Bulletin 2026-4 Selling](/app/guide/bulletin/2026-4)
- [Bulletin 2026-1 Selling](/app/guide/bulletin/2026-1)
- [Bulletin 2025-16 Selling](/app/guide/bulletin/2025-16)
- [Bulletin 2025-13 Selling](/app/guide/bulletin/2025-13)
- [Bulletin 2025-7 Selling](/app/guide/bulletin/2025-7)

[object Object]

<[object Object]>

[object Object]

Need Help?

Please contact your Freddie Mac Account Representative or Customer Support

[+1-800-FREDDIE](tel:800-373-3343)

[Start Cobrowse Session](#)

###### Guide Home

- [Seller/Servicer Relationship](/app/guide/segment/Seller%2FServicer%20Relationship)
- [Selling](/app/guide/segment/Selling)
- [Servicing](/app/guide/segment/Servicing)