Source: freddie_mac
Section: 4302.5 - Seller/ServicerGuide
Subsection: Special eligibility and underwriting requirements for Refi Possible®
Domains: UNDERWRITING.special_programs
MISMO: PropertyUsageType(PrimaryResidence); PropertyType(Condominium, Cooperative, PUD); AmortizationType(Fixed); LienPriorityType(FirstLien, SecondLien)
Key Terms: mortgage
Content Type: procedure
---
## Special eligibility and underwriting requirements for Refi Possible®


Effective 02/04/2026


[Guide Home](/app/guide/)

[Selling](/app/guide/segment/Selling)
[Series 4000 : Mortgage Eligibility](/app/guide/series/4000)
[Topic 4300 : Loan Purpose](/app/guide/topic/4300)
[Chapter 4302 : Refi Possible® Mortgages](/app/guide/chapter/4302)


- Current
  04/12/2026
- [*copy url*
  Copy Link](#)
- [*print*
  Print](#)